<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea placeholder="data" id="data" cols="100" rows="20"></textarea><br>
    <input placeholder="method"  id="method" type="text" size="100" value="login"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <script>
        const url = 'ws://'
        + window.location.host
        + '/ws/final/'

        const chatSocket = new WebSocket(url);
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log('onmessage', data)
            // document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            setTimeout(() => location.reload(), 1000)
        };

        document.querySelector('#method').focus();
        document.querySelector('#method').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            let data = null;
            const value = document.querySelector('#data').value;
            try {
                data = JSON.parse(value);
            } catch {
                data = value;
            }

            const method = document.querySelector('#method').value;
            chatSocket.send(JSON.stringify({
                'type': method,
                'args': data
            }));
        };
    </script>
</body>
</html>